table.currentOrderTable {
    width: 100%;
    border-spacing: 0px;
}

table.headerTable {
    width: 100%;
}

table.currentQueueTable {
    width: 100%;
}

td.currentOrderTitleCell {
    border-bottom: 1pt solid black;
    text-align: left;
}

td.currentOrderActionCell {
    border-bottom: 1pt solid black;
    text-align: right;
}

td.currentOrderTotalText {
    font-weight: bold;
    border-bottom: 1pt solid black;
    text-align: left;
}

td.currentOrderTotalFig {
    border-bottom: 1pt solid black;
    text-align: right;
}

td.itemMaker {
    border-bottom: 1pt solid black;
    text-align: center;
    column-span: 2;
}

td.item {
    border-bottom: 1pt solid black;
    text-align: left;
}

.inProduction {
    background-color: orange;
}

.inGrill {
    background-color: brown;
}

.ready {
    background-color: #7dcd69;
}

.fixed {
    position: fixed;
}

.shadowed {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

a {
    color: #2f2f2f;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-size: 16px;
}

button.subm {
    float: right;
}

input {
    font-size: small;
}

div {
    display: block;
    font-size: small;
}

div.company-emblem {
    width: 100%;
    height: 100px;
    font-size: 50px;
    line-height: 2;
    text-align: center;
}

div.welcome-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

p.welcome {
    font-size: xx-large;
    font-family: "Century Schoolbook L", cursive;
}

div.open-orders-container, div.ready-orders-container {
    width: 49%;
    height: 100%;
    float: left;
    border-right: solid 2px #D8D8D8;
    border-left: solid 2px #D8D8D8;
}

div.open-order-display, div.ready-order-display {
    text-align: center;
    font-size: xx-large;
    float: left;
    width: 100%;
    line-height: 2;
    border-top: solid 1px #D8D8D8;
    border-bottom: solid 1px #D8D8D8;
}

div.open-order-display {
    color: #020215;
}

div.ready-order-display {
    color: #4cb445;
}

div.order-div {
    width: 280px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

div.ready-orders {
    width: 200px;
    height: 100%;
    float: left;
    border-left: solid 2px #D8D8D8;
}

div.open-orders {
    width: calc(100% - 205px);
    height: 100%;
    float: left;
}

div.order-block-container {
    width: 180px;
    min-width: 180px;
    padding: 5px;
    float: left;
}

div.order-block {
    width: 95%;
    min-width: 160px;
    padding: 5px;
    border: solid 1px #D8D8D8;
    background: #F6F6F6;
    line-height: 20px;
}

div.order-number {
    width: 20%;
    float: left;
}

div.order-cook-part {
    width: 80%;
    float: left;
    text-align: right;
}

div.order-item {
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
}

div.order-total {
    border-top: solid 1px #6e6e6e;
}

div.page-content {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0px;
    right: 0px;
}

div.active {
    background-color: dodgerblue;
    box-shadow: inset 0 0 10px -1px rgba(0, 0, 0, 0.33);
    color: white;
}

div.header-div-container {
    border-bottom: solid 1px #D8D8D8;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background: #F6F6F6;
    height: 60px;
    width: 100%;
    min-width: 750px;
    line-height: 60px;
    left: 0;
    right: 0;
    top: 0 !important;
    z-index: 1090;
}

div.header-div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.63);
}

div.header-buttons {
    min-width: 100px;
    max-width: 33%;
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    border-left: solid 1px #D8D8D8;
}

div.header-who-logged {
    min-height: 10px;
    min-width: 200px;
    float: left;
    text-align: center;
    border-left: solid 1px #D8D8D8;
}

div.menu-div {
    width: calc(100% - 294px);
    min-width: 265px;
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
    background-color: rgba(246, 246, 246, 0.63);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

div.menu-content, div.menu-item-details, div.menu-item-note {
    width: 100%;
}

div.menu-content {
    line-height: 30px;
}

div.menu-item {

    margin: 1px;
    padding: 7px;
    width: 220px;
    border: solid 1px #D8D8D8;
    background: #F6F6F6;
    float: left;
}

div.menu-item-title, div.menu-item-price, div.menu-item-actions {
    float: left;
}

div.menu-item-title {
    width: calc(100% - 55px);
}

div.menu-item-price {
    min-width: 55px;
    text-align: right;
}

div.menu-item-note {
    width: 100%;
}

div.menu-item-actions {
    width: 100%;
    text-align: right;
}

div.next-to-prepare-container {
    width: 90%;
    height: 25%;
    padding: 5%;
    background-color: #7dcd69;
    box-shadow: inset 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.next-to-prepare-item {
    width: 100%;
    height: 100%;
    font-size: 400%;
    text-align: center;
    background-color: #4cb445;
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.in-progress-container {
    width: 90%;
    height: 25%;
    line-height: 100%;
    padding: 5%;
    background-color: #cdcb56;
    box-shadow: inset 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.in-progress-item {
    width: 100%;
    height: 100%;
    line-height: 2;
    font-size: 400%;
    text-align: center;
    background-color: #d4ce38;
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.in-grill-container {
    width: 100%;
    height: 50%;
    min-height: 82px;
    background-color: #fd5352;
}

div.in-grill-slot-container {
    width: calc(50% - 12px);
    height: 35%;
    min-height: 70px;
    padding: 5px;
    float: left;
    border: solid 1px #D8D8D8;
    line-height: 1;
}

div.in-grill-slot {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #ffa8a7;
    text-align: center;
    font-size: large;
    box-shadow: inset 0px 0px 22px 1px rgba(0, 0, 0, 0.25);
}

div.grill-title-container {
    width: 100%;
    height: 60%;
}

div.grill-timer-container {
    width: 100%;
    height: 40%;
}

div.item-title {
    width: 100%;
    height: 70%;
    line-height: 2;
    font-size: 150%;
}

div.item-note {
    width: 100%;
    height: 30%;
    line-height: 1;
    font-size: 100%;
}

div.order-item-container {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: solid 1px #D8D8D8;
    border-bottom: solid 1px #D8D8D8;
}

div.order-started {
    box-shadow: 0 0 4px 0 rgba(212, 119, 2, 0.5);
}

div.order-item-title, div.order-item-maker, div.order-item-actions {
    width: 33%;
    float: left;
    text-align: center;
}

span.item-span {
    display: inline-block;
    vertical-align: middle;
}

span.grill-timer {
    font-size: xx-large;
}

span.grill-title {
    font-size: xx-large;
}

input.quantityInput {
    width: 40px;
}

input.item-note {
    width: 100%;
}

p.noteText {
    font-size: small;
}
