{% extends 'queue/base.html' %}
{% block aditional_static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/cook_interface_handlers.js' %}"></script>
{% endblock %}
{% block content %}
    <input hidden id="urls" data-take-url="{% url 'take' %}" data-grill-url="{% url 'to_grill' %}"
           data-finish-url="{% url 'finish_cooking' %}" data-grill-timer-url="{% url 'grill_timer' %}"
           data-next-url="{% url 'next_to_prepare' %}">
    <div class="next-to-prepare-container">
        {% if next_product %}
            <div class="next-to-prepare-item" onclick="TakeItem({{ next_product.id }})">
                <div class="item-title">{{ next_product.menu_item.title }}</div>
                <div class="item-note">No onion.</div>
            </div>
        {% else %}
            <div class="next-to-prepare-item">
                Nothing to prepare.
            </div>
        {% endif %}
    </div>
    <div class="in-progress-container">
        {% if in_progress %}
            <div class="in-progress-item" onclick="ItemToGrill({{ in_progress.id }})">
                {{ in_progress.menu_item.title }}
            </div>
        {% else %}
            <div class="in-progress-item">
                Nothing in progress.
            </div>
        {% endif %}
    </div>
    <div class="in-grill-container">
        {% for product in in_grill %}
            {% include 'queue/grill_slot.html' with product=product %}
        {% empty %}
            <div class="in-grill-slot-container">
                <div class="in-grill-slot" id="slot1">
                    Slot 1
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
