<div class="header-div-container fixed">
    <div class="header-div">
        <a href="{% url 'menu' %}">
            <div class="header-buttons">
                    Menu
            </div>
        </a>
        <a href="{% url 'current_queue' %}">
            <div class="header-buttons">
                    Current Queue
            </div>
        </a>
        <a href="{% url 'production_queue' %}">
            <div class="header-buttons">
                    Production
            </div>
        </a>
        <div class="header-who-logged">
            Logged as {{ user.first_name }} {{ user.last_name }}
        </div>
        <a href="{% url 'logout' %}">
            <div class="header-buttons">
                    Log Out
            </div>
        </a>
    </div>
</div>