<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'queue/style.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/handlers.js' %}"></script>
{% if menu_items %}
    <ul>
        {% for menu_item in menu_items %}
            <li>{{ menu_item.title }} {{ menu_item.price }}
                <button class="btnAdd" onclick="Add({{ menu_item.id }}, '{{ menu_item.title }}', {{ menu_item.price }})">
                    +
                </button>
            </li>
        {% endfor %}

    </ul>
{% else %}
    <p>No menu items.</p>
{% endif %}
<table class="currentOrderTable">
    <thead>Order content</thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td class="currentOrderTotalText">
                Total
            </td>
            <td class="currentOrderTotalFig">
                <p class="totalDisplay"></p>
            </td>
        </tr>
    </tfoot>
</table>
<form action="/queue/make_order/" method="post">
    {% csrf_token %}
    <input type="text" name="id_collector" value="1">
    <input type="submit" value="Make order" enable="false">
</form>
<!--</body>
</html>-->