{% include 'queue/header.html' %}
{% csrf_token %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'queue/style.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/handlers.js' %}"></script>
<div class="menu-div">
    {% include 'queue/menu.html' with menu_items=menu_items %}
</div>
<div class="order-div">
    <table class="currentOrderTable">
        <thead>Order content</thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <td class="currentOrderTotalText">
                Total
            </td>
            <td class="currentOrderTotalFig">
                <p class="totalDisplay"></p>
            </td>
        </tr>
        <tr>
            <button class="subm" data-send-url="{% url 'make_order' %}">
                Submit
            </button>
        </tr>
        </tfoot>
    </table>
</div>
<footer>
    <p class="response"></p>
</footer>