{% extends "queue/base.html" %}
<title>Меню</title>
{% block aditional_static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/menu_handlers.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="menu-div">
        {% include 'queue/menu.html' with menu_items=menu_items %}
    </div>
    <div class="order-div">
        <table class="currentOrderTable">
            <thead>Содержание заказа</thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <td class="currentOrderTotalText">
                    <div>
                        Итого
                    </div>
                </td>
                <td class="currentOrderTotalFig">
                    <div>
                        <p class="totalDisplay">

                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <button class="subm" data-send-url="{% url 'make_order' %}">
                    Принять
                </button>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}